[submodule "A01-Ransomware-Cryptor/A01_3_Stockholm"]
	path = A01-Ransomware-Cryptor/A01_3_Stockholm
	url = https://github.com/R4mnesia/Stockholm
[submodule "A01-Ransomware-Cryptor/A01_1_0xj0hn_Ransomware"]
	path = A01-Ransomware-Cryptor/A01_1_0xj0hn_Ransomware
	url = https://github.com/0xj0hn/ransomware
[submodule "A01-Ransomware-Cryptor/A01_2_Hidden_Tear"]
	path = A01-Ransomware-Cryptor/A01_2_Hidden_Tear
	url = https://github.com/misha-kurtz/hidden-tear
[submodule "A01-Ransomware-Cryptor/A01_4_EDA2"]
	path = A01-Ransomware-Cryptor/A01_4_EDA2
	url = https://github.com/misha-kurtz/eda2
[submodule "A02-Process-Inj-Hollowing-Code-Inj/Simple-DLL-Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/Simple-DLL-Injection
	url = https://github.com/IDouble/Simple-DLL-Injection
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_2_Remote-Thread-Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_2_Remote-Thread-Injection
	url = https://github.com/daemon104/Simple-Code-Injection
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_3_Thread_Hijacking"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_3_Thread_Hijacking
	url = https://github.com/BiLLY-J03l/Local-Thread-Hijacking-C
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_4_APC_Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_4_APC_Injection
	url = https://github.com/nap32/APC_Injection
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_5_Process_Hollowing"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_5_Process_Hollowing
	url = https://github.com/NYAN-x-CAT/CSharp-RunPE
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_1_Simple_DLL_Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_1_Simple_DLL_Injection
	url = https://github.com/IDouble/Simple-DLL-Injection
[submodule "A03-Dropper-Loader-Stager/A03_5_Network_to_Mem_Loader"]
	path = A03-Dropper-Loader-Stager/A03_5_Network_to_Mem_Loader
	url = https://github.com/kleiton0x00/RemoteShellcodeExec
[submodule "A04-Cred-Theft-Spyware-Keylogger/Hookbased-Keylogger"]
	path = A04-Cred-Theft-Spyware-Keylogger/Hookbased-Keylogger
	url = https://github.com/NYAN-x-CAT/LimeLogger
[submodule "A04-Cred-Theft-Spyware-Keylogger/Polling_Keylogger"]
	path = A04-Cred-Theft-Spyware-Keylogger/Polling_Keylogger
	url = https://github.com/EgeBalci/Keylogger
[submodule "A04-Cred-Theft-Spyware-Keylogger/Hookbased_Keylogger"]
	path = A04-Cred-Theft-Spyware-Keylogger/Hookbased_Keylogger
	url = https://github.com/NYAN-x-CAT/LimeLogger
[submodule "A04-Cred-Theft-Spyware-Keylogger/A04_1a_Hookbased_Keylogger"]
	path = A04-Cred-Theft-Spyware-Keylogger/A04_1a_Hookbased_Keylogger
	url = https://github.com/NYAN-x-CAT/LimeLogger
[submodule "A04-Cred-Theft-Spyware-Keylogger/A04_1b_Polling_Keylogger"]
	path = A04-Cred-Theft-Spyware-Keylogger/A04_1b_Polling_Keylogger
	url = https://github.com/EgeBalci/Keylogger
[submodule "A04-Cred-Theft-Spyware-Keylogger/A04_2a_Browser_Cred_Theft"]
	path = A04-Cred-Theft-Spyware-Keylogger/A04_2a_Browser_Cred_Theft
	url = https://github.com/elly-hacen/Chrome-Credential-Extractor
[submodule "A04-Cred-Theft-Spyware-Keylogger/A04_2b_OS_Cred_Theft"]
	path = A04-Cred-Theft-Spyware-Keylogger/A04_2b_OS_Cred_Theft
	url = https://github.com/leftp/BackupCreds
[submodule "A04-Cred-Theft-Spyware-Keylogger/A04_3_Host_Recon_Spyware"]
	path = A04-Cred-Theft-Spyware-Keylogger/A04_3_Host_Recon_Spyware
	url = https://github.com/eduardop10/Simple-Spyware
[submodule "A04-Cred-Theft-Spyware-Keylogger/Spyware_Pipeline"]
	path = A04-Cred-Theft-Spyware-Keylogger/Spyware_Pipeline
	url = https://github.com/Dev-isururoy/Simple-spyware
[submodule "A04-Cred-Theft-Spyware-Keylogger/A04_4_Spyware_Pipeline"]
	path = A04-Cred-Theft-Spyware-Keylogger/A04_4_Spyware_Pipeline
	url = https://github.com/Dev-isururoy/Simple-spyware
