# Dirs
.vscode/
**/src/bin/
**/src/obj/
**/decrypt_AES_key/bin/Debug/
**/decrypt_AES_key/bin/x64/
**/decrypt_AES_key/obj/
**/gen_RSA_keypair/bin/Debug/
**/gen_RSA_keypair/bin/x64/
**/gen_RSA_keypair/obj/
**/A01-Ransomware-Cryptor/A01_4/utilities/decrypt_AES_key/bin


# Files
.gitattributes
!.gitignore
**/temp.cpp
**/temp.cs
**/temp2.cpp
**/temp2.cs

