[submodule "A01-Ransomware-Cryptor/A01_3_Stockholm"]
	path = A01-Ransomware-Cryptor/A01_3_Stockholm
	url = https://github.com/R4mnesia/Stockholm
[submodule "A01-Ransomware-Cryptor/A01_1_0xj0hn_Ransomware"]
	path = A01-Ransomware-Cryptor/A01_1_0xj0hn_Ransomware
	url = https://github.com/0xj0hn/ransomware
[submodule "A01-Ransomware-Cryptor/A01_2_Hidden_Tear"]
	path = A01-Ransomware-Cryptor/A01_2_Hidden_Tear
	url = https://github.com/misha-kurtz/hidden-tear
[submodule "A01-Ransomware-Cryptor/A01_4_EDA2"]
	path = A01-Ransomware-Cryptor/A01_4_EDA2
	url = https://github.com/misha-kurtz/eda2
[submodule "A02-Process-Inj-Hollowing-Code-Inj/Simple-DLL-Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/Simple-DLL-Injection
	url = https://github.com/IDouble/Simple-DLL-Injection
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_2_Remote-Thread-Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_2_Remote-Thread-Injection
	url = https://github.com/daemon104/Simple-Code-Injection
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_3_Thread_Hijacking"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_3_Thread_Hijacking
	url = https://github.com/BiLLY-J03l/Local-Thread-Hijacking-C
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_4_APC_Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_4_APC_Injection
	url = https://github.com/nap32/APC_Injection
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_5_Process_Hollowing"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_5_Process_Hollowing
	url = https://github.com/NYAN-x-CAT/CSharp-RunPE
[submodule "A02-Process-Inj-Hollowing-Code-Inj/A02_1_Simple_DLL_Injection"]
	path = A02-Process-Inj-Hollowing-Code-Inj/A02_1_Simple_DLL_Injection
	url = https://github.com/IDouble/Simple-DLL-Injection
